  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

  .App {
    min-height: 100vh;
    display: flex;
    background-image: url('./background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    /* color: #000; */
  }

  ::-webkit-scrollbar {
    width:0;
  }


  ::-webkit-scrollbar-thumb {
    background: rgba(136, 135, 136, 0.281)
  }

  ::-webkit-slider-thumb:hover {
    background: #555;
  }